@import "./reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary overflow-x-hidden font-normal min-h-svh;
}

h1 {
  @apply text-3xl text-heading md:text-4xl font-extrabold leading-[1.3] mb-lg max-smallerMobileScreen:text-2xl;
}

h2 {
  @apply text-xl md:text-2xl text-heading font-bold leading-[1.3] mb-md;
}

h3 {
  @apply text-md md:text-lg font-bold text-heading leading-[1.3] mb-base;
}

h4 {
  @apply text-base md:text-md font-bold leading-[1.5] text-heading mb-base;
}

p,
button,
a {
  @apply leading-[1.5] text-base md:text-md max-w-[75ch];
}

p,
a {
  @apply text-body;
}

button {
  @apply text-heading;
}

.smaller-text {
  @apply text-[14px] md:text-[18px];
}

.text-spacing {
  @apply mb-base;
}

.shadow {
  @apply shadow-md shadow-heading/10;
}

.mapWrap {
  margin-inline: calc(-50svw - -50%);
  @apply relative h-[300px] min-w-[100svw] lg:h-[400px] xl:h-[500px];
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.custom-list {
  @apply list-none list-inside pl-[0];
}

.custom-list li {
  @apply relative ml-lg;
}

.custom-list li::before {
  @apply content-["\2022"] absolute top-1/2 -translate-y-1/2 text-lg -left-lg text-accent;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-bodyBlur;
}

.swiper-button-prev::after {
  @apply ml-3xl;
}

.swiper-button-next::after {
  @apply mr-3xl;
}
