@import "./reset.css";

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom color variables */
@layer base {
  :root {
    --background: 21 50% 5%;
    --foreground: 21 5% 90%;
    --card: 21 50% 0%;
    --card-foreground: 21 5% 90%;
    --popover: 21 50% 5%;
    --popover-foreground: 21 5% 90%;
    --primary: 20 29% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 21 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -17 30% 15%;
    --muted-foreground: 21 5% 60%;
    --accent: -17 30% 15%;
    --accent-foreground: 21 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 21 5% 90%;
    --border: 21 30% 18%;
    --input: 21 30% 18%;
    --ring: 21 100% 5.5%;
    --radius: 0.5rem;
  }

  /* Dark mode */
  .dark {
    --background: 222.2 84%, 4.9%;
    --foreground: 210 40%, 98%;

    --card: 222.2 84%, 4.9%;
    --card-foreground: 210 40%, 98%;

    --popover: 222.2 84%, 4.9%;
    --popover-foreground: 210 40%, 98%;

    --primary: 20, 29% 18%;
    --primary-foreground: 222.2 47.4%, 11.2%;

    --secondary: 217.2 32.6%, 17.5%;
    --secondary-foreground: 210 40%, 98%;

    --muted: 217.2 32.6%, 17.5%;
    --muted-foreground: 215 20.2%, 65.1%;

    --accent: 217.2 32.6%, 17.5%;
    --accent-foreground: 210 40%, 98%;

    --destructive: 0 62.8%, 30.6%;
    --destructive-foreground: 210 40%, 98%;

    --border: 217.2 32.6%, 17.5%;
    --input: 217.2 32.6%, 17.5%;

    --ring: 212.7 26.8%, 83.9%;
  }
}

/* Apply base styles */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background overflow-x-hidden text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  p {
    @apply leading-7 mt-6 text-muted-foreground;
  }

  h2 {
    @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }

  a {
    @apply font-medium relative text-foreground transition text-lg;
  }

  a::after {
    @apply absolute content-[''] h-[2px] w-0 left-0 -bottom-2 bg-foreground transition-all duration-300;
  }

  a:hover::after {
    @apply w-full;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  h3 {
    @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight mb-6;
  }

  .table-wrapper {
    @apply my-6 w-full overflow-y-auto;
  }

  table {
    @apply w-full;
  }

  tr {
    @apply m-0 border-t p-0 even:bg-muted;
  }

  th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .sm-text {
    @apply text-sm font-medium leading-none;
  }

  .price {
    @apply mt-0;
  }
}

@layer utilities {
  .shadow {
    @apply shadow-md shadow-muted-foreground/25;
  }

  .mapWrap {
    margin-inline: calc(-50svw - -50%);
    @apply relative h-[300px] min-w-[100svw] lg:h-[400px] xl:h-[500px];
  }

  .map {
    @apply h-full w-full absolute;
  }

  .custom-list {
    @apply list-none flex flex-col gap-4 list-inside pl-0;
  }

  .custom-list li {
    @apply relative ml-10;
  }

  .custom-list li::before {
    @apply content-["\2022"] absolute top-1/2 leading-[0] -translate-y-1/2 text-3xl -left-10 text-accent;
  }

  .custom-p {
    @apply font-medium text-foreground my-0;
  }
}

@layer components {
  .navbar {
    @apply h-16 lg:h-20;
  }

  .glass {
    @apply bg-background/20 backdrop-filter backdrop-blur-lg rounded-lg border border-white border-opacity-10 shadow-lg p-6;
  }

  .pt-navbar {
    @apply pt-16 lg:pt-20;
  }

  .mt-navbar {
    @apply mt-16 lg:mt-20;
  }

  .mb-navbar {
    @apply mb-16 lg:mb-20;
  }

  .py-navbar {
    @apply py-16 lg:py-20;
  }

  .py-navbar {
    @apply py-16 lg:py-20;
  }

  .pb-navbar {
    @apply pb-16 lg:pb-20;
  }

  .gap-navbar {
    @apply gap-16 lg:gap-20;
  }

  .cart-item {
    display: grid;
    grid:
      "image ." 1fr
      "detail close-btn" auto
      "price qty-btn" auto
      / 1fr 1fr;
  }

  .cart-item .image {
    grid-area: image;
  }

  .cart-item .detail {
    grid-area: detail;
  }

  .cart-item .qty-btn {
    grid-area: qty-btn;
    @apply justify-self-end place-self-end h-min;
  }

  .cart-item .price {
    grid-area: price;
    @apply mb-0;
  }

  .cart-item .close-btn {
    grid-area: close-btn;
    @apply justify-self-end place-self-start h-min;
  }

  @media (width > 1024px) {
    .cart-item {
      grid:
        "image detail qty-btn price" auto
        "image . . close-btn" 1fr
        / auto 1fr auto auto;
    }

    .cart-item .image {
      @apply mb-0;
    }

    .cart-item .detail {
      @apply justify-self-start ml-6;
    }

    .cart-item .qty-btn {
      @apply place-self-start justify-self-end mr-12;
    }

    .cart-item .price {
      @apply mt-0 place-self-start justify-self-end;
    }

    .cart-item .close-btn {
      @apply place-self-end justify-self-end;
    }
  }
}
